/AsignarEquipo.class
/Equipo.class
/Jugador.class
/testEquipo.class
/JugadorTest.class
/TestAsignarEquipo.class
/TestAsignarEquipo$1JugadorTest.class
/TestAsignarEquipo$1JugadorTest$EquipoTest.class
.classpath
.project
/bin/
